:root {
    --main-color: #fd8421;

    --l-neutral: #dedeed;
    --l-light: #f1f1f7;
    --l-shadow: #aaa4c4;
    --l-object: #8f8fb5;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 18px;
    background: var(--l-neutral);
    color: var(--l-object);
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    display: grid;
    place-items: center;
}

.title {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    padding: 10px 20px;
    display: grid;
    place-items: center;
}

.title > a {
    color: var(--l-object);
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
}

.title:before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 32px;
    filter: blur(1.5px);
    position: absolute;
    transition-duration: 300ms;
    background: var(--l-neutral);
    box-shadow: 7px 7px 15px var(--l-shadow), -7px -7px 15px var(--l-light);
}
.title:hover:before {
    filter: blur(1.5px);
    box-shadow: -4px -4px 10px var(--l-shadow), 4px 4px 10px var(--l-light);
    color: var(--main-color);
}

.neu-input-container {
    position: relative;
    height: 50px;
    flex: 1;
    padding: 0 14px;
}
.neu-input-container:before {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    border-radius: 26px;
    filter: blur(1.5px);
    box-shadow: -4px -4px 10px var(--l-shadow), 4px 4px 10px var(--l-light);
}

.neu-input-container > input {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    border: none;
    font-size: 1.1em;
    color: dimgrey;
}
.neu-input-container > input:focus {
    outline: 0;
}

::placeholder {
    color: var(--l-object);
    opacity: 1;
}
::-ms-input-placeholder {
    color: var(--l-object);
}
