:root {
    --main-color: #fd8421;
    --main-color-light: #f39b53;
    --main-color-shadow: #d16a15;
    --accent-color: #fd8421;

    --hole-neutral: #aeaecb;
    --hole-light: #cbcbdb;
    --hole-shadow: #9595b0;
    --thumb-shine: rgba(255, 255, 255, 0.4);

    --l-neutral: #dedeed;
    --l-light: #f1f1f7;
    --l-shadow: #aaa4c4;
    --l-object: #8f8fb5;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 18px;
    background: var(--l-neutral);
    color: var(--l-object);
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    display: grid;
    place-items: center;
}

.neu-input-container {
    position: relative;
    height: 50px;
    flex: 1;
    padding: 0 14px;
}
.neu-input-container:before {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    border-radius: 26px;
    filter: blur(1.5px);
    box-shadow: -4px -4px 10px var(--l-shadow), 4px 4px 10px var(--l-light);
}

.neu-input-container > input {
    /* To remove default styles appplied by webkit browsers */
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    border: none;
    font-size: 1.1em;
    color: dimgrey;
}
.neu-input-container > input:focus {
    /* To remove default (mostly blue) outline appplied by browsers on :focus */
    outline: 0;
}

::placeholder {
    color: var(--l-object);
    opacity: 1;
}
::-ms-input-placeholder {
    color: var(--l-object);
}
